{% block content %}
  <div id="wrapper-content">
    <div id="page-wrapper">
      <div class="main-content">
        <div class="content">
          <div class="section slider-banner set-height-top">


            <div class="slider-item">
              <div class="slider-2">
                <div class="slider-caption">
                  <div class="container">
                    <h5 class="text-info-2">Plataforma virtual</h5>
                    <h1 class="text-info-1">RUOS</h1>
                    <p class="text-info-3">REGISTRO ÚNICO DE ORGANIZACIONES SOCIALES</p>
                    <a href="{{ path_for('auth.signup') }}"><button class="btn btn-green"><span>Regístrate</span></button></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="slider-item">
              <div class="slider-1">
                <div class="slider-caption">
                  <div class="container">
                    <h5 class="text-info-2">Plataforma virtual</h5>

                    <h1 class="text-info-1">RUOS</h1>

                    <p class="text-info-3">
                      ¡Dile adiós a los papeleos! RUOS te permitirá registrar tu Organización Social de forma virtual,
                      rápida y sencilla. Obtén los derechos y el desarrollo individual y colectivo que tu forma
                      organizativa necesita.

                    </p>

                  </div>
                </div>
              </div>
            </div>

          </div>


          <div class="section intro-edu " id="ruos">
            <div class="container">
              <div class="intro-edu-wrapper">
                <div class="row">
                  <div class="col-md-5"><img src="images/joven.png" alt="" class="intro-image fadeInLeft  wow animated"
                                             style="visibility: visible; animation-name: fadeInLeft;"></div>
                  <div class="col-md-7">
                    <div class="intro-title">¿QUÉ ES EL <b>RUOS</b> ?</div>
                    <div class="intro-content"><p>Es el Registro Único de Organizaciones Sociales, a cargo de las
                        municipalidades distritales y de la Municipalidad Metropolitana de Lima.</p>

                      <p>Dentro de lo establecido en la Ordenanza 1762-2013-MML, se describen los requisitos y el
                        procedimiento para el reconocimiento de las organizaciones sociales y sus representantes, así
                        como los actos que se realicen con posterioridad a su inscripción.</p></div>

                    <div class="group-button">
                      <a href="{{ path_for('auth.signup') }}">
                        <button class="btn btn-transition-2"><span>Registrarse</span></button>
                      </a>
                      <a href="{{ path_for('auth.signin') }}">
                        <button class="btn btn-green"><span>Iniciar sesión</span></button>
                      </a>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="section section-padding edu-ab">
            <div class="container">
              <div class="edu-ab">
                <div class="group-title-index edu-ab-title"><h2 class="center-title">PASOS PARA <b>REGISTRAR</b> A TU
                    ORGANIZACIÓN</h2>
                  <h4 class="top-title">Te presentamos los pasos a seguir para registrar una organización social.</h4>
                </div>
                <div class="edu-ab-content">

                  <ul class="list-unstyled list-inline">

                    <li>
                      <div class="circle-icon fa-2x"><i class="fa fa-pencil"></i></div>
                      <span>Crear cuenta</span>
                    </li>

                    <li>
                      <div class="circle-icon fa-2x"><i class="fa fa-user"></i></div>
                      <span>Iniciar sesión</span>
                    </li>

                    <li>
                      <div class="circle-icon fa-2x"><i class="fa  fa-upload "></i></div>
                      <span>Subir documentos</span>
                    </li>

                    <li>
                      <div class="circle-icon fa-2x"><i class="fa fa-envelope"></i></div>
                      <span>Enviar solicitud</span>
                    </li>

                    <li>
                      <div class="circle-icon fa-2x"><i class="fa fa-search"></i></div>
                      <span>Evaluación de documentos</span>
                    </li>

                    <li>
                      <div class="circle-icon fa-2x"><i class="fa fa-thumbs-up"></i></div>
                      <span>Aprobación final</span>
                    </li>

                  </ul>
                </div>
              </div>
            </div>
          </div>



          <div class="section section-padding edu-feature" id="requisitos">
            <div class="container">
              <div class="edu-feature-wrapper">
                <div class="row">

                  <div class="group-title-index">
                    <h2 class="center-title">REQUISITOS</h2>
                    <h4 class="top-title">CONOCE CUALES SON LOS DOCUMENTOS NECESARIOS PARA REGISTRAR A TU ORGANIZACIÓN
                      SOCIAL</h4>
                    <div class="bottom-title"><i class="bottom-icon icon-icon-05"></i></div>
                  </div>

                  <div class="col-md-6">
                    <ul id="accordion" role="tablist" class="panel-group list-unstyled edu-feature-list">

                      <li class="panel">
                        <div role="tab" id="item-1" class="col-item-1"><i class="fa fa-check-circle"></i><a href="#0"
                                                                                                            data-toggle="collapse"
                                                                                                            data-parent="#accordion"
                                                                                                            role="button"
                                                                                                            aria-expanded="true"
                                                                                                            aria-controls="lesson"
                                                                                                            class=""><span>Solicitud dirigida a la Gerencia de Participación Vecinal</span></a>
                        </div>
                        <div id="0" role="tabpanel" aria-labelledby="item-1" class="collapse in" aria-expanded="true">
                          <div class="panel-body col-item-2">Solicitud dirigida a la Gerencia de Participación Vecinal
                            con atención a la Subgerencia de Organizaciones Vecinales, o la que haga sus veces en las
                            Municipalidades Distritales, debiendo señalar en dicha solicitud: nombre y dirección de sus
                            organizaciones, así como el pedido expreso de reconocimiento y registro.
                          </div>
                        </div>
                      </li>

                      <li class="panel">
                        <div role="tab" id="item-3" class="col-item-1"><i class="fa fa-check-circle"></i><a href="#2"
                                                                                                            data-toggle="collapse"
                                                                                                            data-parent="#accordion"
                                                                                                            role="button"
                                                                                                            aria-expanded="false"
                                                                                                            aria-controls="lesson"
                                                                                                            class="collapsed"><span>Acta de fundación o de Constitución</span></a>
                        </div>
                        <div id="2" role="tabpanel" aria-labelledby="item-3" class="collapse" aria-expanded="false">
                          <div class="panel-body col-item-2">Acta de fundación o de Constitución.</div>
                        </div>
                      </li>

                      <li class="panel">
                        <div role="tab" id="item-4" class="col-item-1"><i class="fa fa-check-circle"></i><a href="#3"
                                                                                                            data-toggle="collapse"
                                                                                                            data-parent="#accordion"
                                                                                                            role="button"
                                                                                                            aria-expanded="false"
                                                                                                            aria-controls="lesson"
                                                                                                            class="collapsed"><span>Estatuto y Acta de aprobación</span></a>
                        </div>
                        <div id="3" role="tabpanel" aria-labelledby="item-4" class="collapse" aria-expanded="false">
                          <div class="panel-body col-item-2">Estatuto y Acta de aprobación.</div>
                        </div>
                      </li>

                      <li class="panel">
                        <div role="tab" id="item-5" class="col-item-1"><i class="fa fa-check-circle"></i><a href="#4"
                                                                                                            data-toggle="collapse"
                                                                                                            data-parent="#accordion"
                                                                                                            role="button"
                                                                                                            aria-expanded="false"
                                                                                                            aria-controls="lesson"
                                                                                                            class="collapsed"><span>Acta de elección del Órgano Directivo</span></a>
                        </div>
                        <div id="4" role="tabpanel" aria-labelledby="item-5" class="collapse" aria-expanded="false">
                          <div class="panel-body col-item-2">Acta de elección del Órgano Directivo.</div>
                        </div>
                      </li>

                    </ul>
                  </div>


                  <div class="col-md-6">
                    <ul id="accordion" role="tablist" class="panel-group list-unstyled edu-feature-list">


                      <li class="panel">
                        <div role="tab" id="item-5" class="col-item-1"><i class="fa fa-check-circle"></i><a href="#5"
                                                                                                            data-toggle="collapse"
                                                                                                            data-parent="#accordion"
                                                                                                            role="button"
                                                                                                            aria-expanded="false"
                                                                                                            aria-controls="lesson"
                                                                                                            class="collapsed"><span>Nómina de los miembros del órgano directivo</span></a>
                        </div>
                        <div id="5" role="tabpanel" aria-labelledby="item-6" class="collapse" aria-expanded="false">
                          <div class="panel-body col-item-2">Nómina de los miembros del órgano directivo, cada uno de
                            sus integrantes.
                          </div>
                        </div>
                      </li>

                      <li class="panel">
                        <div role="tab" id="item-5" class="col-item-1"><i class="fa fa-check-circle"></i><a href="#6"
                                                                                                            data-toggle="collapse"
                                                                                                            data-parent="#accordion"
                                                                                                            role="button"
                                                                                                            aria-expanded="false"
                                                                                                            aria-controls="lesson"
                                                                                                            class="collapsed"><span>Nómina de los miembros de la Organización Social</span></a>
                        </div>
                        <div id="6" role="tabpanel" aria-labelledby="item-7" class="collapse" aria-expanded="false">
                          <div class="panel-body col-item-2">Nómina de los miembros de la Organización Social.</div>
                        </div>
                      </li>

                      <li class="panel">
                        <div role="tab" id="item-5" class="col-item-1"><i class="fa fa-check-circle"></i><a href="#7"
                                                                                                            data-toggle="collapse"
                                                                                                            data-parent="#accordion"
                                                                                                            role="button"
                                                                                                            aria-expanded="false"
                                                                                                            aria-controls="lesson"
                                                                                                            class="collapsed"><span>Plano o croquis referencial de la ubicación del local</span></a>
                        </div>
                        <div id="7" role="tabpanel" aria-labelledby="item-8" class="collapse" aria-expanded="false">
                          <div class="panel-body col-item-2">Plano o croquis referencial de la ubicación del local o
                            domicilio institucional de la organizacion.
                          </div>
                        </div>
                      </li>

                      <li class="panel">
                        <div role="tab" id="item-5" class="col-item-1"><i class="fa fa-check-circle"></i><a href="#8"
                                                                                                            data-toggle="collapse"
                                                                                                            data-parent="#accordion"
                                                                                                            role="button"
                                                                                                            aria-expanded="false"
                                                                                                            aria-controls="lesson"
                                                                                                            class="collapsed"><span>Plano o croquis del radio de acción de la organización</span></a>
                        </div>
                        <div id="8" role="tabpanel" aria-labelledby="item-9" class="collapse" aria-expanded="false">
                          <div class="panel-body col-item-2">Plano o croquis del radio de acción de la organización.
                          </div>
                        </div>
                      </li>

                      <li class="panel">
                        <div role="tab" id="item-5" class="col-item-1"><i class="fa fa-check-circle"></i><a href="#9"
                                                                                                            data-toggle="collapse"
                                                                                                            data-parent="#accordion"
                                                                                                            role="button"
                                                                                                            aria-expanded="false"
                                                                                                            aria-controls="lesson"
                                                                                                            class="collapsed"><span>Otro acervo documental</span></a>
                        </div>
                        <div id="9" role="tabpanel" aria-labelledby="item-10" class="collapse" aria-expanded="false">
                          <div class="panel-body col-item-2">Otro acervo documenral, gráfico y fuentes de registro
                            pueden ser representados adicionalmente para evidenciar la existencia del hecho, el
                            historial y antecedentes de la organización.
                          </div>
                        </div>
                      </li>


                    </ul>
                  </div>
                </div>


              </div>
            </div>
          </div>


          <div class="section teacher-course section-padding" style="background:#eaedf5">
            <div class="container teacher-course-wrapper">
              <div class="underline">MODELOS</div>
              <div class="course-table" style="height: 401px; width: 1170px;">
                <div class="outer-container">
                  <div class="inner-container">
                    <div class="table-header">
                      <table class="edu-table-responsive">
                        <thead>
                        <tr class="heading-table">
                          <th class="col-1"></th>
                          <th class="col-2">NOMBRE DEL MODELO</th>
                          <th class="col-3">MODELO</th>
                          <th class="col-4">MODELO PARA LLENAR</th>
                        </tr>
                        </thead>
                      </table>
                    </div>
                    <div class="table-body">
                      <table class="edu-table-responsive table-hover">
                        <tbody>

                        <tr class="table-row">
                          <td class="col-1"><span>1</span></td>
                          <td class="col-2"><a>SOLICITUD PARA REGISTRO NUEVO DE ORGANIZACIÓN</a></td>
                          <td class="col-3"><a target="_blank"
                                               href="modelos/MODELO_SOLICITUD_DE_NUEVA_ORGANIZACION.pdf"><img
                                style="width:30px" src="images/pdf.png"></a></td>
                          <td class="col-4"><a target="_blank" href="modelos/MODELO_SOLICITUD_NUEVO_GPV.docx"><img
                                style="width:27px" src="images/word.png"></a></td>
                        </tr>
                        <tr class="table-row">
                          <td class="col-1"><span>2</span></td>
                          <td class="col-2"><a>SOLICITUD PARA ACTUALIZACIÓN DE ORGANIZACIÓN</a></td>
                          <td class="col-3"><a target="_blank"
                                               href="modelos/MODELO_SOLICITUD_ACTUALIZACION_GPV.pdf"><img
                                style="width:30px" src="images/pdf.png"></a></td>
                          <td class="col-4"><a target="_blank"
                                               href="modelos/MODELO_SOLICITUD_ACTUALIZACION_GPV.docx"><img
                                style="width:27px" src="images/word.png"></a></td>
                        </tr>
                        <tr class="table-row">
                          <td class="col-1"><span>3</span></td>
                          <td class="col-2"><a>ACTA DE ELECCIÓN DEL ÓRGANO DIRECTIVO</a></td>
                          <td class="col-3"><a target="_blank" href="modelos/MODELO_ELECCION_ORGANO_DIRECTIVO.pdf"><img
                                style="width:30px" src="images/pdf.png"></a></td>
                          <td class="col-4"><a target="_blank"
                                               href="modelos/MODELO_DE_ACTA_DE_ELECCION_DE_MIEMBROS_DE_LA_JUNTA_DIRECTIVA.docx"><img
                                style="width:27px" src="images/word.png"></a></td>
                        </tr>
                        <tr class="table-row">
                          <td class="col-1"><span>4</span></td>
                          <td class="col-2"><a>ESTATUTO Y ACTA DE APROBACIÓN</a></td>
                          <td class="col-3"><a target="_blank" href="modelos/MODELO_ESTATUTO_ACTA_APROBACION.pdf"><img
                                style="width:30px" src="images/pdf.png"></a></td>
                          <td class="col-4"><a target="_blank" href="modelos/MODELO_ESTATUTO_ACTA_APROBACION.pdf"><img
                                style="width:27px" src="images/word.png"></a></td>
                        </tr>
                        <tr class="table-row">
                          <td class="col-1"><span>5</span></td>
                          <td class="col-2"><a>ACTA DE FUNDACIÓN O DE CONSTITUCIÓN</a></td>
                          <td class="col-3"><a target="_blank"
                                               href="modelos/MODELO_ACTA_CONSTITUCION_ASOCIACION.pdf"><img
                                style="width:30px" src="images/pdf.png"></a></td>
                          <td class="col-4"><a target="_blank"
                                               href="modelos/MODELO_ACTA_CONSTITUCION_ASOCIACION.pdf"><img
                                style="width:27px" src="images/word.png"></a></td>
                        </tr>
                        <tr class="table-row">
                          <td class="col-1"><span>6</span></td>
                          <td class="col-2"><a>PLANO DE ACCIÓN DE LA ORGANIZACIÓN</a></td>
                          <td class="col-3"><a target="_blank"
                                               href="modelos/MODELO_ACTA_CONSTITUCION_ASOCIACION.pdf"><img
                                style="width:30px" src="images/pdf.png"></a></td>
                          <td class="col-4"><a target="_blank"
                                               href="modelos/MODELO_ACTA_CONSTITUCION_ASOCIACION.pdf"><img
                                style="width:27px" src="images/word.png"></a></td>
                        </tr>
                        <tr class="table-row">
                          <td class="col-1"><span>7</span></td>
                          <td class="col-2"><a>NÓMINA DE LOS MIEBROS DE LA ORGANIZACIÓN SOCIAL</a></td>
                          <td class="col-3"><a target="_blank" href="modelos/MODELO_NOMINA_ASOCIADOS_TOTALIDAD.pdf"><img
                                style="width:30px" src="images/pdf.png"></a></td>
                          <td class="col-4"><a target="_blank" href="modelos/MODELO_NOMINA_ASOCIADOS_TOTALIDAD.pdf"><img
                                style="width:27px" src="images/word.png"></a></td>
                        </tr>
                        <tr class="table-row">
                          <td class="col-1"><span>8</span></td>
                          <td class="col-2"><a>NÓMINA DE LOS MIEMBROS DEL ÓRGANO DIRECTIVO</a></td>
                          <td class="col-3"><a target="_blank" href="modelos/MODELO_NOMINA_JUNTA_DIRECTIVA.pdf"><img
                                style="width:30px" src="images/pdf.png"></a></td>
                          <td class="col-4"><a target="_blank" href="modelos/MODELO_NOMINA_JUNTA_DIRECTIVA.pdf"><img
                                style="width:27px" src="images/word.png"></a></td>
                        </tr>

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>


      </div>
    </div>
  </div>


  </div>

{% endblock content %}
