{% extends 'templates/app.twig' %}


{% block content %}

    <div id="wrapper-content">
        <div id="page-wrapper">
            <iframe src="{{ base_url()}}/modelos/archivos/consolidado-medios.pdf" width="100%" height="500px"></iframe>
        </div>
    </div>



{% endblock content %}