 <div id="wrapper-content">
        <div id="page-wrapper">
            <div class="main-content">
                <div class="content">
                    <div class="section background-opacity page-title set-height-top">
                        <div class="container">
                            <div class="page-title-wrapper"><h2 class="captions">Mis Solicitudes</h2>
                                <ol class="breadcrumb">
                                    <li><a href="../">Inicio</a></li>
                                    <li class="active"><a href="#">Mis Solicitudes</a></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    
                    <div class="section teacher-course section-padding">
                        <div class="container teacher-course-wrapper">
                            <div class="course-table">
                                <table id="Solicitudes" class="table table-bordered table-hover" width="100%">
                                    <thead>
                                        <tr class="heading-table">
                                            <th class="col-md-1"></th>
                                            <th class="col-md-1">Nº DE SOLICITUD</th>
                                            <th class="col-md-1">TIPO</th>
                                            <th class="col-md-1">ORGANIZACIÓN</th>
                                            <th class="col-md-1">FECHA DE SOLICITUD</th>
                                            <th class="col-md-1">FECHA MÁXIMA DE ATENCIÓN</th>
                                            <th class="col-md-1">ESTADO</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        $(document).ready(function () {
            $('#example').DataTable({
                "language": {
                    "lengthMenu": "Ver _MENU_ registros por página",
                    "zeroRecords": "No se encontraron resultados",
                    "info": "Viendo página _PAGE_ de _PAGES_",
                    "infoEmpty": "No existen resoluciones disponibles",
                    "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "search": "Buscar:",
                    "paginate": {
                        "first": "Primero",
                        "last": "Último",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    },
                },
                columnDefs: [{
                        targets: [0, 2, 3, 4],
                        orderData: [0, 1]
                    }, {
                        className: 'text-center',
                        targets: [0, 1, 2, 3, 4],
                    }
                ]
            });
        });

        $(document).ready(function () {
            ListarSolicitudes();
        })

        function format(d) {
            if (d.comentario) {
                return '<div class="col-md-8"><div class="col-md-12"><p style="float: left;"><strong>Observaciones: ' + d.comentario + ' </strong> ';
            } else {
                return '<div class="col-md-8"><div class="col-md-12"><p style="float: left;"><strong>Observaciones: No hay observaciones. </strong> ';
            }
        }

        var childRows = null;

        function ListarSolicitudes() {

            responsive: true

            var dt = $('#Solicitudes').DataTable({
                destroy: true,
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ],
                "buttons": [
                    'copy', 'csv', 'excel', 'pdf'
                ],
                "language": {
                    "lengthMenu": "Ver _MENU_ registros por página",
                    "zeroRecords": "No se encontraron resultados",
                    "info": "Viendo página _PAGE_ de _PAGES_",
                    "infoEmpty": "No se encontraron responsables",
                    "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "search": "Buscar:",
                    "paginate": {
                        "first": "Primero",
                        "last": "Último",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    },
                },

                "ajax": {
                    "type": "get",
                    "url": "{{ base_url() }}/solicitud/listamissolicitudes",
                    "data": {}
                },

                "columns": [
                    {
                        "class": "details-control",
                        "orderable": false,
                        "data": null,
                        "defaultContent": ""
                    },
                    {
                        "data": "num_sol",
                        render: function (data) {
                            if (data == null) {
                                return '---';
                            } else {
                                return data;
                            }

                        },
                    },
                    {
                        "data": "tipo_sol",
                        render: function (data) {
                            if (data == "1") {
                                return '[NUEVO]';
                            } else {
                                return '[ACTUALIZACIÓN]';
                            }

                        },
                    },
                    {"data": "nombre_org"},
                    {
                        "data": "fec_revision",
                        render: function (data) {
                            if (data == null) {
                                return '---';
                            } else {
                                return data;
                            }
                        },
                    },
                    {
                        "data": "fec_venci",
                        render: function (data) {
                            if (data == null) {
                                return '---';
                            } else {
                                return data;
                            }
                        },
                    },
                    {
                        "data": "flag",
                        render: function (data) {
                            if (data == "1") {
                                return "<span class='label label-info'>Incompleto</span>";
                            } else if (data == "2") {
                                return "<span class='label label-warning'>Pendiente</span>";
                            } else if (data == "3") {
                                return "<span class='label label-success'>Aprobado</span>";
                            } else {
                                return "<span class='label label-danger'>Archivado</span>";
                            }

                        },
                    },
                ],

                columnDefs: [
                    {
                        className: 'text-center',
                        targets: [1, 2, 3, 5, 6],
                    },

                    {
                        width: "3%",
                        targets: [0]
                    },
                    {
                        width: "10%",
                        targets: [5]
                    },
                    {
                        width: "20%",
                        targets: [3]
                    },
                ]
            });

            var detailRows = [];

            $('#Solicitudes tbody').off('click', 'tr td.details-control');
            $('#Solicitudes tbody').on('click', 'tr td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = dt.row(tr);

                if (row.child.isShown()) {
                    row.child.hide();
                    tr.removeClass('shown');
                } else {
                    // Open this row
                    d = row.data();
                    row.child(format(d)).show();
                    tr.addClass('shown');
                }
            });

            dt.on('draw', function () {
                if (childRows) {

                    childRows.every(function (rowIdx, tableLoop, rowLoop) {
                        d = this.data();
                        this.child($(format(d))).show();
                        this.nodes().to$().addClass('shown');
                    });
                    childRows = null;
                }
            });

        }
    </script>
