    {% extends 'templates/app.twig' %}
{% block content %}

    <div id="wrapper-content">
        <div id="page-wrapper">
            <div class="main-content">
                <div class="content">
                    <div class="section background-opacity page-title set-height-top">
                        <div class="container">
                            <div class="page-title-wrapper">
                                <h2 class="captions">RESOLUCIONES</h2>
                                <ol class="breadcrumb">
                                    <li><a href="../">Inicio</a></li>
                                    <li class="active"><a href="#">Resoluciones emitidas</a></li>
                                </ol>
                            </div>
                        </div>
                    </div>

                    <div class="section">
                        <div class="search-input">
                            <div class="container">
                                <div class="search-input-wrapper">
                                    <form>
                                        <div class="col-sm-4">
                                            <h5 style="font-weight: bold; color: #000000; text-transform: uppercase;">
                                                Búsqueda por distrito</h5>
                                            <select class="form-control obj_distrito" id="obj_distrito"
                                                    name="obj_distrito">
                                                <option value="">Todos</option>
                                                <option value="1251">CERCADO DE LIMA</option>
                                                <option value="1252">ANCON</option>
                                                <option value="1253">ATE</option>
                                                <option value="1254">BARRANCO</option>
                                                <option value="1255">BREÑA</option>
                                                <option value="1256">CARABAYLLO</option>
                                                <option value="1257">CHACLACAYO</option>
                                                <option value="1258">CHORRILLOS</option>
                                                <option value="1259">CIENEGUILLA</option>
                                                <option value="1260">COMAS</option>
                                                <option value="1261">EL AGUSTINO</option>
                                                <option value="1262">INDEPENDENCIA</option>
                                                <option value="1263">JESUS MARIA</option>
                                                <option value="1264">LA MOLINA</option>
                                                <option value="1265">LA VICTORIA</option>
                                                <option value="1266">LINCE</option>
                                                <option value="1267">LOS OLIVOS</option>
                                                <option value="1268">LURIGANCHO</option>
                                                <option value="1269">LURIN</option>
                                                <option value="1270">MAGDALENA DEL MAR</option>
                                                <option value="1271">MAGDALENA VIEJA</option>
                                                <option value="1272">MIRAFLORES</option>
                                                <option value="1273">PACHACAMAC</option>
                                                <option value="1274">PUCUSANA</option>
                                                <option value="1275">PUENTE PIEDRA</option>
                                                <option value="1276">PUNTA HERMOSA</option>
                                                <option value="1277">PUNTA NEGRA</option>
                                                <option value="1278">RIMAC</option>
                                                <option value="1279">SAN BARTOLO</option>
                                                <option value="1280">SAN BORJA</option>
                                                <option value="1281">SAN ISIDRO</option>
                                                <option value="1282">SAN JUAN DE LURIGANCHO</option>
                                                <option value="1283">SAN JUAN DE MIRAFLORES</option>
                                                <option value="1284">SAN LUIS</option>
                                                <option value="1285">SAN MARTIN DE PORRES</option>
                                                <option value="1286">SAN MIGUEL</option>
                                                <option value="1287">SANTA ANITA</option>
                                                <option value="1288">SANTA MARIA DEL MAR</option>
                                                <option value="1289">SANTA ROSA</option>
                                                <option value="1290">SANTIAGO DE SURCO</option>
                                                <option value="1291">SURQUILLO</option>
                                                <option value="1292">VILLA EL SALVADOR</option>
                                                <option value="1293">VILLA MARIA DEL TRIUNFO</option>
                                            </select>
                                        </div>


                                        <div class="col-sm-2">
                                            <h5 style="color: #ebebeb;"> __</h5>
                                            <div type="submit" class="form-submit btn btn-transition-2 searchRes"
                                                 style="width:100%; padding: inherit;">
                                                <span>Buscar <i class="fa fa-search"></i></span>
                                            </div>

                                        </div>

                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="section teacher-course">
                        <div class="container">
                            <div class="teacher-course-wrapper">
                                <table id="Resoluciones"
                                       class="display compact table table-striped table-bordered dt-responsive mayus">
                                    <thead>
                                    <tr class="heading-table">
                                        <th class="col-md-1">DISTRITO</th>
                                        <th class="col-md-1">NÚMERO DE RESOLUCIÓN</th>
                                        <th class="col-md-1">DESCARGAR RESOLUCIÓN</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                                            
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function estado() {

        }


        $('.searchRes').click(function () {
            cod_tipo = $('.obj_tipo').val();
            cod_distrito = $('.obj_distrito').val();
            cod_anio = $('.obj_anio').val();

            ListarResoluciones(cod_tipo, cod_distrito, cod_anio);
        })


        $(document).ready(function () {
            ListarResoluciones();
        })

        function format(d) {
            return '<div class="col-md-8"><div class="col-md-12"><p style="float: left;"><strong>DIRECCIÓN: </strong> ' + d.domicilio_org + '</p><br></div>' +
                '<div class="col-md-12"><p style="float: left;"><strong>TIPO: </strong>' + d.descripcion + '</p></div>' +
                '<div class="col-md-12"><p style="float: left;"><strong>DISTRITO: </strong>' + d.distrito + '</p></div></div>';
        }

        var childRows = null;

        function ListarResoluciones(cod_tipo, cod_distrito, cod_anio) {

            responsive: true


            var dt = $('#Resoluciones').DataTable({

                destroy: true,
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ],
                "buttons": [
                    'copy', 'csv', 'excel', 'pdf'
                ],

                "language": {
                    "lengthMenu": "Ver _MENU_ registros por página",
                    "zeroRecords": "No se encontraron resultados",
                    "info": "Viendo página _PAGE_ de _PAGES_",
                    "infoEmpty": "No se encontraron responsables",
                    "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "search": "Buscar:",
                    "paginate": {
                        "first": "Primero",
                        "last": "Último",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    },
                },

                "ajax": {
                    "type": "get",
                    "url": "{{ base_url() }}/resoluciones/lista-distritales",
                    "data": {
                        tipo: cod_tipo,
                        distrito: cod_distrito,
                        anio: cod_anio
                    }
                },

                "columns": [
                    {"data": "distrito"},
                    {"data": "num_ver"},
                    {
                        "data": "url_doc",
                        render: function (data) {
                            return "<a class='btn btn-default'" +
                                "style='cursor:pointer;overflow: visible;'" +
                                "target='_blank'" +
                                "href='{{ base_url() }}/" + data + "'>" +
                                "<i class='fa fa-download'></i></a>"
                        },
                    },

                ],


                columnDefs: [
                    {
                        className: 'text-center',
                        targets: [0, 1, 2],
                    },
                    {
                        width: "5%",
                        targets: [2]
                    },
                    {
                        width: "20%",
                        targets: [2]
                    },
                ]
            });


            // Array to track the ids of the details displayed rows
            var detailRows = [];

            $('#Resoluciones tbody').off('click', 'tr td.details-control');
            $('#Resoluciones tbody').on('click', 'tr td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = dt.row(tr);

                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                } else {
                    // Open this row
                    d = row.data();
                    row.child(format(d)).show();
                    tr.addClass('shown');
                }
            });


            // On each draw, loop over the `detailRows` array and show any child rows
            dt.on('draw', function () {

                // If reloading table then show previously shown rows
                if (childRows) {

                    childRows.every(function (rowIdx, tableLoop, rowLoop) {
                        d = this.data();
                        this.child($(format(d))).show();
                        this.nodes().to$().addClass('shown');
                    });

                    // Reset childRows so loop is not executed each draw
                    childRows = null;
                }
            });

        }

    </script>


{% endblock content %}
